<!DOCTYPE html>
<html lang="da" style="margin-top: 0 !important">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="description" content="@ViewData["Description"]">
	<meta name="keywords" content="@ViewData["Keywords"]">
	<title>@ViewData["Title"]</title>
	<environment include="Development">
		<link rel="stylesheet" href="~/css/debug.css">
		<script type="module" src="~/js/debug.js"></script>
	</environment>
	<link rel="stylesheet" href="~/css/layout.css">
	<link rel="stylesheet" href="~/css/skeleton.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C600%2C700%2C400italic%2C600italic%2C700italic&#038">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald%3A400%2C700%2C300&#038">
	<link rel="stylesheet" href="~/css/subpage.css">
</head>
<body>
	<div class="info"></div>
	<header>
		<img class="header-background" src="~/images/top.gif" />
		<a class="header-logo" asp-page="/Index">
			<img id="header-logo" src="~/images/logo.png" />
		</a>
		<div class="header-text">
			<div class="line-1">Alt hvad du tænder på</div>
			<div class="line-2">Og så løser vi dine</div>
			<div class="line-3">installationsopgaver</div>
			<div class="line-4">
				<a href="tel:20225018">Mobil: 20 22 50 18</a>
			</div>
		</div>
		<nav class="header-nav">
			<ul>
				<li><a asp-page="/Index">Forside</a></li>
				<li><a id="om" asp-page="/Sider/Om">Om os</a></li>
				<li><a id="led" asp-page="/Sider/Led">Ekspert i Led belysning</a></li>
				<li><a id="kontakt" asp-page="/Sider/Kontakt">Kontakt</a></li>
			</ul>
		</nav>
	</header>

	<nav class="nav-left">
		<a id="elinstallation" class="menuLeft" asp-page="/Sider/Elinstallation">
			<img src="/images/elinstallation.jpg" class="produkt-image">
			<h5 class="menu-text">El Installation</h5>
		</a>
		<a id="landbrug" class="menuLeft" asp-page="/Sider/Landbrug">
			<img src="/images/Landbrug.jpg" class="produkt-image">
			<h5 class="menu-text">Landbrug</h5>
		</a>
		<a id="industri" class="menuLeft" asp-page="/Sider/Industri">
			<img src="/images/industri.jpg" class="produkt-image">
			<h5 class="menu-text">Industri</h5>
		</a>
		<a id="belysning" class="menuLeft" asp-page="/Sider/Belysning">
			<img src="/images/belysning.jpg" class="produkt-image">
			<h5 class="menu-text">Belysning</h5>
		</a>
		<a id="energioptimering" class="menuLeft" asp-page="/Sider/Energioptimering">
			<img src="/images/energioptimering.jpg" class="produkt-image">
			<h5 class="menu-text">Energioptimering</h5>
		</a>
		<a id="eleftersyn" class="menuLeft" asp-page="/Sider/Eleftersyn">
			<img src="/images/elsyn.jpg" class="produkt-image">
			<h5 class="menu-text">Eleftersyn</h5>
		</a>
		<a id="it-data" class="menuLeft" asp-page="/Sider/It-data">
			<img src="/images/it-data.jpg" class="produkt-image">
			<h5 class="menu-text">Tele IT & Netværk</h5>
		</a>
		<a id="hvidevarer" class="menuLeft" asp-page="/Sider/Hvidevarer">
			<img src="/images/hvidevarer.jpg" class="produkt-image">
			<h5 class="menu-text">Hvidevarer</h5>
		</a>
		<a id="butik" class="menuLeft" asp-page="/Sider/Butik">
			<img src="/images/butik.jpg" class="produkt-image">
			<h5 class="menu-text">Butik</h5>
		</a>
	</nav>

	@RenderBody()

	<partial name="_Footer" model='@ViewData["FooterBackground"]' />

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/js/pages.js"></script>
	<partial name="_Tracker" />
</body>
</html>